<h1 style="text-align: center; margin-top: 30px;">All Students</h1>
<div class="tableDiv">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Roll No.</th>
        <th scope="col">Name</th>
        <th scope="col">Data Analysis And Algorithm</th>
        <th scope="col">Operating System</th>
        <th scope="col">Full Stack Development</th>
        <th scope="col">Software Engineering</th>
        <th scope="col">Artificial Intelligence</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% student.forEach(element=> { %>
        <tr class="head">
          <th scope="row">
            <%= element.roll %>
          </th>
          <td>
            <%= element.name %>
          </td>
          <td>
            <%= element.daa %>
          </td>
          <td>
            <%= element.os %>
          </td>
          <td>
            <%= element.fsd %>
          </td>
          <td>
            <%= element.se %>
          </td>
          <td>
            <%= element.ai %>
          </td>
          <td>
            <%= element.status %>
          </td>
          <td><a href="/teacher/edit/<%= element._id %> "><img style="margin: 0px 5px;"
                src="https://img.icons8.com/material-outlined/30/000000/edit.png" /></a>
            <a href="/teacher/delete/<%= element._id %> "><img style="margin: 0px 5px;"
                src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png" /></a>
          </td>
        </tr>
        <%}) %>
    </tbody>
  </table>
</div>